<div>
<center>
<div>
<img src="assets/logo.png" width="192px" alt="PES Game Dev Club">
</div>
<h1>PES Game Dev Club</h1>
<h3><i> Uniting gamers, coders and artists alike.</i> </h3>
</center>
<div class="profile_container">

<div class="profile">
    <h3><b> WORKSHOPS </b></h3>
    <div>
    We host tutorials and workshops to expose students to new skills, and 
    help them hone in on them.
    </div>
</div>
<div class="profile">
    <h3> <b>HACKATHON</b> </h3>
    <div>
    GG Jam is our annual flagship event. A 24 hour video game hackathon,
    where artists, musicians and programers can showcase their skills.
    </div>
    
</div>

<div class="profile">
    <h3> <b>COMMUNITY</b> </h3>
    <div>
    We are building a community of passionate game developers, who come together to 
    share their skill and knowledge.
    </div>
</div>

</div>
</div>