.avatar {
    /* make a square container */
    width: 150px;
    height: 150px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: top center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
    box-shadow: 0 0 10px black;
    margin-bottom:10px;
}

.profile_container{   

    display:block;        
    text-align: center;
}

.profile{
    height:100%;
    margin-bottom:30px;
    padding:5px;
    display:inline-block;
    width:30%;
    vertical-align:top
}

